* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 968px;
    margin: 0 auto;
}

#button-container {
    height: 5vh;
    display: flex;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

button {
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #222;
    color: #fff;

}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    background-color: black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.grid-item {
    flex: 1;
}